#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/*------------- */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, rgba(45,45,46,1) 0%, rgba(29,27,31,1) 47%, rgba(45,45,46,1) 100%);  width: 100vw;
  font-size: clamp(0.2rem, 2vw, 0.6rem);
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
}

.prediction-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width:80vw;
  padding: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  
  background: radial-gradient(circle, rgb(255, 0, 76) 0%, rgb(255, 22, 22) 100%);

  border-radius: 2px;
  box-shadow: 0 0 20px 2px rgb(22, 22, 22);
}

.prediction-container button{
  margin: 1rem;
  background: rgb(45,45,46);

}

.prediction-container .inputs-container input:nth-child(2) ,.prediction-container .inputs-container input:nth-child(3){
 width: 100%;
}

.inputs-container label{
  color: rgba(255, 255, 255, 0.801);
  font-weight: 200;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  margin: 1rem;
  
  width: 100%;

  text-align: left;


}

.input-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
 /*  justify-content: space-evenly; */
} 

.inputs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
input.field-input{
  width: 100vw;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: rgb(45,45,46);
  color: white;
  
}


/*---------------*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
